function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame.ifFalse0
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGame.ifEnd0
label SquareGame.ifFalse0
label SquareGame.ifEnd0
push this 1
push constant 2
eq
not
if-goto SquareGame.ifFalse1
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGame.ifEnd1
label SquareGame.ifFalse1
label SquareGame.ifEnd1
push this 1
push constant 3
eq
not
if-goto SquareGame.ifFalse2
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGame.ifEnd2
label SquareGame.ifFalse2
label SquareGame.ifEnd2
push this 1
push constant 4
eq
not
if-goto SquareGame.ifFalse3
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGame.ifEnd3
label SquareGame.ifFalse3
label SquareGame.ifEnd3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.whileCond4
push local 1
not
not
if-goto SquareGame.whileFalse4
label SquareGame.whileCond5
push local 0
push constant 0
eq
not
if-goto SquareGame.whileFalse5
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.whileCond5
label SquareGame.whileFalse5
push local 0
push constant 81
eq
not
if-goto SquareGame.ifFalse6
push constant 1
neg
pop local 1
goto SquareGame.ifEnd6
label SquareGame.ifFalse6
label SquareGame.ifEnd6
push local 0
push constant 90
eq
not
if-goto SquareGame.ifFalse7
push this 0
call Square.decSize 1
pop temp 0
goto SquareGame.ifEnd7
label SquareGame.ifFalse7
label SquareGame.ifEnd7
push local 0
push constant 88
eq
not
if-goto SquareGame.ifFalse8
push this 0
call Square.incSize 1
pop temp 0
goto SquareGame.ifEnd8
label SquareGame.ifFalse8
label SquareGame.ifEnd8
push local 0
push constant 131
eq
not
if-goto SquareGame.ifFalse9
push constant 1
pop this 1
goto SquareGame.ifEnd9
label SquareGame.ifFalse9
label SquareGame.ifEnd9
push local 0
push constant 133
eq
not
if-goto SquareGame.ifFalse10
push constant 2
pop this 1
goto SquareGame.ifEnd10
label SquareGame.ifFalse10
label SquareGame.ifEnd10
push local 0
push constant 130
eq
not
if-goto SquareGame.ifFalse11
push constant 3
pop this 1
goto SquareGame.ifEnd11
label SquareGame.ifFalse11
label SquareGame.ifEnd11
push local 0
push constant 132
eq
not
if-goto SquareGame.ifFalse12
push constant 4
pop this 1
goto SquareGame.ifEnd12
label SquareGame.ifFalse12
label SquareGame.ifEnd12
label SquareGame.whileCond13
push local 0
push constant 0
eq
not
not
if-goto SquareGame.whileFalse13
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.whileCond13
label SquareGame.whileFalse13
goto SquareGame.whileCond4
label SquareGame.whileFalse4
push constant 0
return
